#main{
    background-color: beige;
    padding: 0px;
    border-radius: 60px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

p{
    font-size: 20px;
}
.gh_1{
    margin-top:50px;display:inline-block;
 }
 .gh_2{
    margin-left:100px;margin-bottom: 100px;display:inline-block;
 }
 #ghname1{
    font-size: 20px;
 }
 #ghname2{
    font-size: 40px;
 }
 #ghname3{
    font-size: 20px;
 }
 #ghname4{
    font-size: 40px;
}

